version: '3.8'

services:
  wazuh.manager:
    image: wazuh/wazuh-manager:4.7.2
    hostname: wazuh-manager
    container_name: wazuh-manager
    restart: always
    ports:
      - "1514:1514/udp"
      - "514:514/udp"
      - "55000:55000"
    environment:
      - INDEXER_URL=https://wazuh-indexer:9200
    volumes:
      - wazuh_logs:/var/ossec/logs
      - wazuh_data:/var/ossec/data
    networks:
      - sentinel-net

  sentinel.bot:
    build: .
    container_name: sentinel-bot
    restart: on-failure
    depends_on:
      - wazuh.manager
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - wazuh_logs:/wazuh_logs_mount:ro
    networks:
      - sentinel-net

volumes:
  wazuh_data:
  wazuh_logs:

networks:
  sentinel-net:
    driver: bridge